body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

main {
    max-width: 80rem;
    margin: auto;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 1rem;
    height: 95vh;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 9fr 2fr 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    height: 100%;
}

.container-white {
    border-radius: 20px;
    background-color: white;
    /* margin: 5px; */
}

.container-white:nth-child(1) {
    grid-column: 1 / span 3;
}

.container-white:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}

.container-white:nth-child(6), :nth-child(7), :nth-child(8), :nth-child(9) {
    background-color: transparent;
    text-align: center;
}

.container-white:nth-child(9) {
    grid-column: span 3;
}